<div id="mp-page">
  <h2>All MPs</h2>

  <div class="mp-box">    
      <% @mp_data.each do |mp| %>
          <div class="mp-link">
            <a href=<%="/mps/" + "#{mp.id}"%>> <%= mp.name %> MP</a>
          </div>
      <% end %>
  </div>
  
  <br></br>

  <%= paginate @mp_data %>
</div>
