<div id="about-body">
  <h1>About us</h1>
  <p>
    Tzetzes is a unique new tool that allows you to search through MPs' press releases, blogs and local news articles.
  </p>
  <br></br>
  <h1>Why 'tzetzes'?</h1>
  <p><a href="https://en.wikipedia.org/wiki/John_Tzetzes">John Tzetzes</a> was a Byzantine who lived in Constantinople in the 12th Century. He is credited with preserving a significant amount of information from the ancient Greeks, including literature and scholarship.</p>
  <p>Our website, Tzetzes, is named after him because of our commitment to making information that was previously hard to search through and find more visible.</p>
</div>
