<div id="welcome" class="content width-set">
  <h1>Privacy policy</h1>
  <h3>Tzetzes is non-partisan and independent.</h3>

  <div class="privacy-body">
    <h2>1. Who are we? </h2>
    <p>Tzetzes was created by Sam Colson.</p>
    <p>We are fully committed to protecting the privacy of everyone using our platform. We strive to provide a safe, secure environment in which your personal information is held. This includes information which could identify you personally, like your name, contact information, or anything else which might be identify you.</p>
    <br>
    <hr>

    <h2>2. What personal information do we collect? </h2>
    <p>We always ask for consent when adding people to our lists and you should know what you’re signing up for.</p>
    <p>When signing up, users details are stored in a secure server. Only the website administrator has access to this data.</p>
    <p>Your email may be used to contact you. An unsubscribe option is available at all times.</p>
    <br>
    <hr>

    <h2>3. What information is collected automatically?</h3>
    <p>We collect IP addresses of users of our websites and we may also store your browser’s environment variables. Note that this is freely available when you browse the web and contains information like your operating system, the device you are on, the browser version and so on.</p>
    <p>We reserve the right to capture search queries.</p>
    <br>
    <hr>

    <h2>4. How do we use personal information?</h2>
    <p>We use personal information to understand who is using the service and occasionaly contact them.</p>
    <p>Personal information may need to be stored or used where we have a legal obligation to do so.</p>
    <br>
    <hr>

    <h2>5. How long do we keep personal information?</h2>
    <p>We will only keep personal information for as long as reasonably necessary but as brief a time as is needed.</p>
    <br>
    <hr>

    <h2>6. What are your rights?</h2>
    <p>You have a number of legal rights over your personal information. Further information and advice about your rights can be obtained from the relevant data protection regulator for your country.</p>
    <br>

  </div>
</div>
