// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-body {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

#founder-body {
  background-color: rgb(255, 242, 226);
  padding-top: 2vh;
  padding-bottom: 4vh;
}

#welcome {
  height: 85vh;
}