// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media only screen and (max-width: 600px) {
  #map {
    width: 200px;
  }
}

.about-body {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
  text-align: justify;
  text-justify: inter-word;
}

.privacy-body {
  text-align: justify;
  text-justify: inter-word;
}

#founder-body {
  background-color: rgb(255, 242, 226);
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#welcome {
  text-align: center;
  padding-left: 20vw;
  padding-right: 20vw;
}

.about-image {
  display: block;
  margin: auto;
  max-width: 650px;
  max-height: auto;
}

#tzetzes-image {
  max-width: 25vw;
}

#map {
  max-height: 75vh;
}

#opc {
  max-height: 30vh;
  max-width: 75vw;
}

.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blob_1 {
  background-image: image-url('about/blob.svg');
}

.blob_2 {
  background-image: image-url('about/blob_2.svg');
}

.blob_3 {
  background-image: image-url('about/blob_3.svg');
}

#constit-paginate a {
  color: white;
}