/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:visited {
  text-decoration: none;
 }

 a:hover {
   text-decoration: underline;
 }

 a {
   text-decoration: none;
 }

 /* .main-body {
   margin: 1.5em
 } */

 #site-header {
   padding: 0em;
   padding-top: 1em ;
   margin: 0;
 }

 body {
  /* background-color: white; */
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
}

/* default state */
.navbar {
  position: relative;
  /* default colors + transition */
  /* background-color:  rgb(0, 136, 82); */
  color: rgb(0, 0, 0);
  width: 100vw;
  transition: all 0.4s ease-out;
  /* margin-bottom: 1.5em; */
  text-align: center;
}

/* scrolling state */
.navbar.fixed-top {
  position: fixed;
  top: 0;
  width: 100vw;
  /* scrolling colors */
  background-color:  rgb(0, 136, 82);
  color: white;
  margin-bottom: 1.5em;
  border-bottom: 2px solid white ;
}

.navbar.fixed-top a {
  color: white;
}

.search-field {
  margin: auto;
}

.form-control {
  margin-top: 10px;
  /* padding-left: 20px; */
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 30vw;
}

.search-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.content {
  padding-left: 10vw;
  padding-right: 10vw;
}