// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.results {
  padding-left: 10vw;
  padding-right: 10vw;
  margin: auto;
}

.mp-results {
  background-color: rgb(255, 242, 226);
}

.mp-grid {
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  grid-gap: 1em;
}

.headline-results {
  background-color: white;
}

.article-results {
  background-color: rgb(255, 242, 226);
}

.constit-results {
  background-color:  rgb(0, 136, 82);
  color: white;
}

.no-results {
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
}

.width-set {
  max-width: 70em;
  margin: auto;
}

.mp-photo {
  max-width: 250px;
}

.search-button {
  padding:10px 35px;
  margin: 10px;
  background: white; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  transition-timing-function: ease-in;
  transition: 1s;
  height: 40px;
  width: 100px;
}

.form-control:hover {
  transition-timing-function: ease-in;
  transition: 1s;
  color: black;
  border: 2px solid black;
}
