// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a {
  color: black;
}

h1 {
  text-decoration: none;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.page-content {
  padding-left: 5vw;
  padding-right: 5vw;
}

.mp-box {
  padding-left: 5vw;
  padding-right: 5vw;
  align-items: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, auto));
  grid-gap: 1em;
  max-width: 70em;
}

#mp-page {
  padding-left: 5vw;
  padding-right: 5vw;
}

#no-articles {
  padding-left: 5vw;
  padding-right: 5vw;
}

#article-block {
  background-color: rgb(255, 242, 226);
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 1em;
}

#mp-block {
 width: 66vw;
 align-items: center;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(230px, auto));
 grid-gap: 9px;
}

#mp-info {
  padding-left: 10vw;
}

#mp-photo {
  width: 20vw;
  max-width: 250px;
  padding-left: 3vw;
}

.party_labour {
  // border: 2px solid red;
  padding: 0.5em;
}

.party_con {
  // border: 2px solid #115da8;
  padding: 0.5em;
}

.search-body {
  padding-left: 20vw;
  padding-right: 20vw;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

.all-mp-image {
  max-width: 200px;
  max-height: auto;
}

.article-tag {
  max-height: 20px;
  display: inline;
  padding-right: 5px;
}