// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a {
  color: black;
}

hr {
  width: 50%;
  margin: 0 auto;
}

#article-block {
  margin-left: 5vw;
  margin-right: 5vw
}