// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a {
  color: black;
}

hr {
  width: 50%;
  margin: 0 auto;
}

#article-block {
  margin-left: 5vw;
  margin-right: 5vw
}

#mp-block {
 width: 66vw;
 margin: auto
}

#mp-constituency {
  color: white;
  padding: 10px;
}

#mp-party {
  color: white;
  padding: 10px;
}

#mp-photo {
  width: 20vw;
  max-width: 250px;
  float: right;
  transform: translate(-1vw, 1vw);
}

.party_labour {
  background-color: red;
}

.party_con {
  background-color: blue;
}
