<div id="email-wrapper">
  <div id="body">
    <h1 id="header">Welcome to Tzetzes</h1>
    <div id="main-text">
      <p>You can confirm your account email through the link below:</p>

      <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

      <p>Thanks for signing up.</p>
      <p>Sam</p>
    </div>
  </div>
</div>
