<div id="email-wrapper">
  <div id="body">
    <h1 id="header">Welcome to Tzetzes</h1>
    <div id="main-text">
      <p>Hello <%= @resource.email %>!</p>

      <p>We're contacting you to notify you that your password has been changed.</p>
    </div>
  </div>
</div>
