<div id="about-body" class='about-body width-set'>
  <h1>API</h1>
  <h2>Data</h2>
  <p>The Tzetzes API is currently a proof of concept and will be expanded in the future, hence the 'v1' notation.</p>
  <p>As it stands, the information that can be garned from the API includes:</p>
  <ul>
    <li>Name</li>
    <li>Constituency</li>
    <li>Majority</li>
    <li>Year first elected</li>
    <li>Number of elections won</li>
    <li>Website URL</li>
  </ul>

  <h2>Use</h2>
  <p>The Tzetzes API can be accessed at:</p>
  <div class="code-block">
    <code>$ curl tzetzes.com/api/v1/mps/:id</code>
  </div>
  <p>:id should be replaced by the id of an MP. This runs 0 - 649.</p>
</div>
