<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <%= stylesheet_link_tag 'email.css' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
